/* NAVIGATION */
.navbar-header {
  color: white;
  padding-top: 10px;
  margin: 0 10px;

  .logo-ti {
    font-size: 20px;
    letter-spacing: 7px;
    line-height: 2px;
  }

  .logo-ve {
    font-size: 12px;
    letter-spacing: 2px;
  }
}

.nav {
  position: relative;
  text-align: right;
  font-size: 15px;
  top: -55px;

  li {
    display: inline;

    :hover {
      color: gray;
    }
  }
  
  a {
    text-decoration: none;
    color: lightgray;
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
  }
}

/* HEAD */
.header {
  height: 100vh;
  width: 100%;
  background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: $font-header;
  font-size: 50px;

  .logo {
    top: 300px;
    position: relative;
    color: $color-first;
    letter-spacing: 5px;
    font-size: 60px;

    @media (max-width: 620px){
      font-size: 40px;
      text-align: center;
    }

    .logo-ho {
      margin: 0 auto;
      text-align: left;
    }

    .logo-or {
      margin: 0 auto;
      text-align: right;
    }

    hr {
      color: $color-first;
      position: relative;
      border: 2px solid;
      border-radius: 2px;
      width: 30%;
    }
  }
}

.discover {
  position: relative;
  text-align: center;
  font-size: 25px;
  top: 730px;
  letter-spacing: 4px;
  line-height: 20px;

  @media (max-width: 1020px){
    top: 600px;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

/* ABOUT US */

.about-us {
  margin-top: 40px;
  padding: 15px;
  position: relative;
  background: linear-gradient( rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7) ),url("/images/about-us.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  font-family: $font-header;
  height: 60vh;

  .container {
    width: 40%;

    @media (max-width: 975px){
      width: 80%;
    }
  }

  .about {
    text-align: center;
    font-family: $font-header;
    color: $color-first;
    font-size: 30px;
    letter-spacing: 10px;
  }

  hr {
    color: $color-first;
    position: relative;
    top: -15px;
    border: 2px solid;
    border-radius: 2px;
    width: 80%;
  }

  p {
    letter-spacing: 2px;
    text-align: left;
    width: 100%;
    font-size: 30px;
    color: white;
    font-size: 35px;

    @media (max-width: 510px){
      font-size: 20px;
    }
  }

  p:nth-child(1) {
    padding-top: 60px;
    text-align: right;
  }

  a {
    text-decoration: none;
  }
}

/* FOOTER */

footer {
  font-family: $font-header;
  color: black;
  position: relative;
  text-align: center;
  padding: 3px;
}