/* NAVIGATION */
.navbar-header {
  color: white;
  padding-top: 10px;
  margin: 0 10px;

  .logo-ti {
    font-size: 20px;
    letter-spacing: 7px;
    line-height: 2px;
  }

  .logo-ve {
    font-size: 12px;
    letter-spacing: 2px;
  }
}

.nav {
  position: relative;
  text-align: right;
  font-size: 15px;
  top: -55px;

  li {
    display: inline;

    :hover {
      color: gray;
    }
  }
  
  a {
    text-decoration: none;
    color: lightgray;
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
  }
}

/* HEAD */
.header {
  font-family: $font-header;
  width: 100%;
  height: 100vh;
  background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  .logo {
    position: relative;
    color: $color-first;
    top: 250px;
    font-size: 60px;
  
    .home {
      text-align: left;
      line-height: 5px;
  
      @media (max-width: 1100px){
        font-size: 50px;
        text-align: center;
      }
  
      letter-spacing: 7px;
      @media (max-width: 415px){
        font-size: 35px;
        text-align: center;
      }
    }

    .original {
      letter-spacing: 3px;
      text-align: right;
  
      @media (max-width: 1100px){
        font-size: 50px;
        text-align: center;
      }
  
  
      @media (max-width: 415px){
        font-size: 35px;
        text-align: center;
      }
    }
  }
}

.discover {
  text-align: center;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 2px;

  a {
    color: white;
    text-decoration: none;
  }

  .fa-circle-down {
    color: white;
    position: absolute;
    font-size: 25px;
    top: 200%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* ABOUT US */
.about-us {
  margin-top: 50px;
  height: 420px;
  position: relative;
  background: linear-gradient( rgba(0,0,0,0.7), rgba(0, 0, 0, 0.7) ),url("/images/about-us.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
  font-family: $font-header;

  .container {
    max-width: 600px;
  }

  .about {
    padding-top: 1px;
    text-align: center;
    font-family: $font-header;
    color: $color-first;
    font-size: 25px;
    letter-spacing: 10px;
  }

  .line {
    border: 2px solid;
    border-radius: 2px;
    width: 90%;
    text-align: center;
  }
}

/* CAROUSEL */
.main-carousel {
  position: relative;
  align-items: center;
  text-align: center;
}

.carousel-cell {
  padding: 20px 15px;
  position: relative;
  line-height: 20px;
  margin: 0 auto;

  p {
    font-size: 20px;
    letter-spacing: 2px;
    text-align: left;
    color: white;
  }

  p:last-of-type {
    font-size: 14px;
  }
}

.carousel-cell img {
  max-width: 170px;
  height: 170px;
  object-fit: cover;
  float: left;
  margin-right: 20px;
  box-shadow: none;
}

/* FOOTER */
footer {
  font-family: $font-header;
  color: black;
  position: relative;
  text-align: center;
  padding: 3px;
}