/* Variables */

$color-first: #bea67c;
$color-second: #fff;
$color-three: #000;

$font-header: 'Source Sans Pro', sans-serif;

$font-regular: 400;
$font-semibold: 600;
$font-semibold-italic: 600;
$font-bold: 700;
$font-black: 900;

$base-size: 12px;

/* Mixins */