/* NAVIGATION */
.navigation {
  width: 100%;
  position: absolute;
  z-index: 1;
  font-family: $font-header;
  color: white;

  .logo-ti {
    letter-spacing: 3px;
    text-align: left;
  }

  .logo-ve {
    font-size: 15px;
    letter-spacing: 2px;
    line-height: 15px;
    text-align: left;
  }

  .nav-logo{
    position: relative;
    line-height: 10px;
  }
}

.links {
  position: relative;
  font-size: 15px;
  text-align: right;
  top: -55px;

  li {
    display: inline-block;
  }
  
  a {
    text-decoration: none;
    color: gray;
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
  }
}

/* HEAD */
.header {
  height: 100vh;
  width: 100%;
  position: absolute;
  background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url("/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  .logo {
    font-size: 50px;
    position: relative;
    top: 300px;
    color: $color-first;
    line-height: 120px;

    .logo-left {
      position: relative;
      text-align: center;
      letter-spacing: 10px;
      top: 40px;
    }

    .logo-right {
      position: relative;
      text-align: center;
    }

    hr {
      position: relative;
      border: 2px solid;
      background-color: $color-first;
      border-radius: 2px;
      width: 30%;
    }
  }

  .discover {
    text-align: center;
    top: 500px;
    position: relative;
    color: rgb(245, 245, 245);
    font-size: 20px;
    letter-spacing: 3px;
  }
}
