/* PRODUCTS */
.title {
  text-align: center;
  font-family: $font-header;

  h1 {
    color: $color-first;
    font-size: 50px;
  }
    
  hr {
    color: $color-first;
    position: relative;
    top: -15px;
    border: 2px solid;
    border-radius: 2px;
    width: 60%;
  }
}