/* PRODUCTS */
.title {
  text-align: center;
  font-family: $font-header;
  color: $color-first;
  font-size: 30px;
    
  hr {
    color: $color-first;
    position: relative;
    top: -15px;
    border: 2px solid;
    border-radius: 2px;
    width: 30%;
  }
}

.img {
  height: 40%;
  width: 40%;
}